.table_row {
    display: flex;
    justify-content: center;
    gap: .4rem;
    margin-bottom: .4rem;
}

.error {
    animation-name: error;
    animation-duration: .5s;
    /* animation-iteration-count: infinite; */
}

@keyframes error {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(.25rem);
    }

    35% {
        transform: translateX(-.25rem);
    }

    50% {
        transform: translateX(.25rem);
    }

    65% {
        transform: translateX(-.25rem);
    }

    75% {
        transform: translateX(.25rem);
    }

    100% {
        transform: translateX(0);
    }
}