.key {
    padding: .5rem;
    background-color: #ccc;
    font-weight: 800;
    font-size: 1.1rem;
    text-transform: uppercase;
    border-radius: .2rem;
    width: 2.5rem;
    height: 3rem;
    min-width: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}